# vim:set expandtab shiftwidth=4 filetype=gitattributes:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/sync-repo-metadata.git
# ::: :/.gitattributes
#
#

/LICENSE    -sync-header-metadata
*.json      -sync-header-metadata
